5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

In [72]:
import  requests
from  bs4 import BeautifulSoup

# i)Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [73]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [74]:
page

In [75]:
soup = BeautifulSoup(page.text, 'html.parser')

In [76]:
Country=[]
Matches=[]
Points=[]
Rating=[]

In [77]:
country=soup.find_all('span',class_="u-hide-phablet")

In [78]:
for i in country:
    name=i.get_text()
    Country.append(name)
Country[0:10]

['New Zealand',
 'England',
 'Australia',
 'India',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies']

In [79]:
matches=soup.find_all('td',class_="rankings-block__banner--matches")

In [80]:
for i in matches:
    name_1=i.get_text()
    Matches.append(name_1)
Matches[:]

['25']

In [81]:
matches_2=soup.find_all('td',class_="table-body__cell u-center-text")

In [82]:
n=0
for i in matches_2:
    name_2=i.get_text()
    if n%2==0:
        Matches.append(name_2)
    else:
        Points.append(name_2)
    n=n+1
Matches[0:10]

['25', '30', '32', '40', '24', '24', '33', '33', '20', '41']

In [83]:
Points[0:10]

['3,400',
 '3,572',
 '4,377',
 '2,584',
 '2,392',
 '3,129',
 '2,917',
 '1,419',
 '2,902',
 '1,214']

In [84]:
rating=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

In [85]:
for i in rating:
    Rating=[]
    no=i.get_text().replace('\n','')
    Rating.append(no.strip())
Rating[:]

['115']

In [86]:
rating_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [87]:
for i in rating_2:
    no_2=i.get_text()
    Rating.append(no_2)
Rating[0:10]

['115', '113', '112', '109', '108', '100', '95', '88', '71', '71']

In [88]:
import pandas as pd
table=pd.DataFrame({})
table['Country']=Country[0:10]
table['Matches']=Matches[0:10]
table['Points']=Points[0:10]
table['Rating']=Rating[0:10]

In [89]:
table

        Country Matches Points Rating
0   New Zealand      25  3,400    115
1       England      30  3,572    113
2     Australia      32  4,377    112
3         India      40  2,584    109
4      Pakistan      24  2,392    108
5  South Africa      24  3,129    100
6    Bangladesh      33  2,917     95
7     Sri Lanka      33  1,419     88
8   Afghanistan      20  2,902     71
9   West Indies      41  1,214     71

In [90]:
table.to_csv('D:\Sandip\ODI_ranking.csv')

In [91]:
table

        Country Matches Points Rating
0   New Zealand      25  3,400    115
1       England      30  3,572    113
2     Australia      32  4,377    112
3         India      40  2,584    109
4      Pakistan      24  2,392    108
5  South Africa      24  3,129    100
6    Bangladesh      33  2,917     95
7     Sri Lanka      33  1,419     88
8   Afghanistan      20  2,902     71
9   West Indies      41  1,214     71

ii)Top 10 ODI Batsmen in men along with the records of their team and rating.

In [92]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')

In [93]:
Name=[]
Country=[]
Rating=[]

In [94]:
name=soup.find_all('div',class_="rankings-block__banner--name")

In [95]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Babar Azam']

In [96]:
name_2=soup.find_all('td',class_="table-body__cell name")

In [97]:
for i in name_2:
    no_2=i.get_text().replace('\n','')
    Name.append(no_2)
Name[0:10]

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman']

In [98]:
count=soup.find_all('span',class_="table-body__logo-text")

In [99]:
Country.append('IND')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['IND', 'SA', 'PAK', 'SA', 'AUS', 'IND', 'AUS', 'IND', 'ENG', 'PAK']

In [100]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [101]:
c=0
Rating=[]
for i in rate:
    if c==0:
        no=i.get_text().replace('\n','')
        Rating.append(no)
        c=c+1
Rating[:]

['891']

In [102]:
rate_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [103]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['891', '766', '764', '759', '747', '726', '719', '715', '710', '695']

In [104]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]

In [105]:
table

                    Name Country Rating
0             Babar Azam     IND    891
1  Rassie van der Dussen      SA    766
2            Imam-ul-Haq     PAK    764
3        Quinton de Kock      SA    759
4           David Warner     AUS    747
5            Virat Kohli     IND    726
6            Steve Smith     AUS    719
7           Rohit Sharma     IND    715
8         Jonny Bairstow     ENG    710
9           Fakhar Zaman     PAK    695

In [106]:
table.to_csv('D:\Sandip\ODI_Basten_.csv')

# iii)Top 10 ODI bowlers along with the records of their team and rating.

In [107]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(page.text, 'html.parser')

In [108]:
Name=[]
Country=[]
Rating=[]

In [109]:
name=soup.find_all('div',class_="rankings-block__banner--name-large")

In [110]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Trent Boult']

In [111]:
name_2=soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [112]:
for i in name_2:
    no_2=i.get_text().replace('\n','')
    Name.append(no_2)
Name[0:10]

['Trent Boult',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [113]:
count=soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team")for i in rate:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[:]

In [114]:
Country.append('NZ')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['NZ', 'AUS', 'AUS', 'AFG', 'NZ', 'AUS', 'PAK', 'BAN', 'BAN', 'AFG']

In [115]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [116]:
for i in rate:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[:]

['744']

In [117]:
rate_2=soup.find_all('td',class_="table-body__cell rating")

In [118]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['744', '727', '665', '659', '656', '655', '654', '652', '638', '637']

In [119]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]

In [120]:
table

                Name Country Rating
0        Trent Boult      NZ    744
1     Josh Hazlewood     AUS    727
2     Mitchell Starc     AUS    665
3        Rashid Khan     AFG    659
4         Matt Henry      NZ    656
5         Adam Zampa     AUS    655
6     Shaheen Afridi     PAK    654
7    Shakib Al Hasan     BAN    652
8  Mustafizur Rahman     BAN    638
9   Mujeeb Ur Rahman     AFG    637

In [121]:
table.to_csv('D:\Sandip\ODI10_Blowers.csv')

In [122]:
table

                Name Country Rating
0        Trent Boult      NZ    744
1     Josh Hazlewood     AUS    727
2     Mitchell Starc     AUS    665
3        Rashid Khan     AFG    659
4         Matt Henry      NZ    656
5         Adam Zampa     AUS    655
6     Shaheen Afridi     PAK    654
7    Shakib Al Hasan     BAN    652
8  Mustafizur Rahman     BAN    638
9   Mujeeb Ur Rahman     AFG    637