# i)Top 10 ODI teams in womenâ€™s cricket along with the records for matches, points and rating.

In [505]:
import  requests
from  bs4 import BeautifulSoup

In [506]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')

In [507]:
Country=[]
Matches=[]
Points=[]
Rating=[]

In [508]:
country=soup.find_all('span',class_="u-hide-phablet")

In [509]:
for i in country:
    #name=i.get_text()
    Country.append(i.get_text())
Country[0:10]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [510]:
url=soup.find_all('span',class_="u-hide-phablet")

In [511]:
for i in url:
    #name=i.get_text()
    coun.append(i.get_text())
coun[0:10]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [512]:
matches=soup.find_all('td',class_="rankings-block__banner--matches")

In [513]:
for i in matches:
    #name_1=i.get_text()
    Matches.append(i.get_text())
Matches[:]

['18']

In [514]:
matches_1=soup.find_all('td',class_="rankings-block__banner--points")

In [515]:
for i in matches_1:
    #name_1=i.get_text()
    Points.append(i.get_text())
Points[:]

['3,061']

In [516]:
rating=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

In [517]:
for i in rating:
    
    no=i.get_text().replace('\n','')
    Rating.append(no.strip())
    
Rating[:]

['170']

In [518]:
matches_2=soup.find_all('td',class_="table-body__cell u-center-text")

In [519]:
n=0
for i in matches_2:
    name2=i.get_text()
    if n%2==0:
        Matches.append(name2)
    else:
        Points.append(name2)
    n=n+1
Matches[0:10]

['18', '28', '26', '27', '25', '27', '13', '8', '24', '8']

In [520]:
Points[0:10]

['3,061',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,519',
 '353']

In [521]:
rating_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [522]:
for i in rating_2:
    #no_2=i.get_text()
    Rating.append(i.get_text())#Rating.append(no_2)

In [523]:
Rating[0:10]

['170', '119', '119', '104', '102', '94', '76', '72', '63', '44']

In [524]:
import pandas as pd

In [525]:
ODI_Ranking=pd.DataFrame({})
ODI_Ranking['Country']=Country[0:10]
ODI_Ranking['Matches']=Matches[0:10]
ODI_Ranking['Points']=Points[0:10]
ODI_Ranking['Rating']=Rating[0:10]

In [526]:
ODI_Ranking

        Country Matches Points Rating
0     Australia      18  3,061    170
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

Top 10 womenâ€™s ODI Batting players along with the records of their team and rating.#

In [527]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')

In [528]:
Name=[]
Country=[]
Rating=[]

In [529]:
name=soup.find_all('div',class_="rankings-block__banner--name")

In [530]:
c=0
for i in name:
    if c==0:#no=(i.get_text().replace('\n',''))
        Name.append(i.get_text().replace('\n',''))#Name.append(no)
        c=c+1

In [531]:
Name[:]

['Alyssa Healy']

In [532]:
name_3=soup.find_all('td',class_="table-body__cell name")

In [533]:
for i in name_3:
    Name.append((i.get_text().replace('\n','')))
Name[0:10]

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Ellyse Perry']

In [534]:
count=soup.find_all('span',class_="table-body__logo-text")

In [535]:
Country.append('AUS')
for i in count:
    Country.append(i.get_text().replace('\n',''))
Country[0:10]

['AUS', 'AUS', 'SA', 'ENG', 'IND', 'IND', 'AUS', 'AUS', 'SL', 'AUS']

In [536]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [537]:
c=0

for i in rate:
    if c==0:
        no=i.get_text().replace('\n','')
        Rating.append(no)
        c=+1
Rating[:]

['785']

In [538]:
rate_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [539]:
for i in rate_2:
    n=i.get_text().replace('\n','')
    Rating.append(n)
Rating[0:10]

['785', '749', '732', '731', '716', '714', '710', '701', '655', '642']

In [540]:
PLayer_Ranking=pd.DataFrame({})
PLayer_Ranking['Name']=Name[0:10]
PLayer_Ranking['Country']=Country[0:10]
PLayer_Ranking['Rating']=Rating[0:10]

In [541]:
PLayer_Ranking

                  Name Country Rating
0         Alyssa Healy     AUS    785
1          Beth Mooney     AUS    749
2      Laura Wolvaardt      SA    732
3       Natalie Sciver     ENG    731
4     Harmanpreet Kaur     IND    716
5      Smriti Mandhana     IND    714
6          Meg Lanning     AUS    710
7       Rachael Haynes     AUS    701
8  Chamari Athapaththu      SL    655
9         Ellyse Perry     AUS    642

# iii)Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [542]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(page.text, 'html.parser')

In [543]:
Name=[]
Country=[]
Rating=[]

In [544]:
name=soup.find_all('div',class_="rankings-block__banner--name-large")

In [545]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Ellyse Perry']

In [546]:
name_2=soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [547]:
for i in name_2:
    #  no_2=i.get_text().replace('\n','')
    Name.append(i.get_text().replace('\n',''))
Name[0:10]

['Ellyse Perry',
 'Hayley Matthews',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Sophie Ecclestone']

In [548]:
count=soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team")

In [549]:
Country.append('AUS')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['AUS', 'WI', 'ENG', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'IND', 'ENG']

In [550]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [551]:
for i in rate:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[:]

['374']

In [552]:
rate_2=soup.find_all('td',class_="table-body__cell rating")

In [553]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['374', '373', '371', '349', '336', '322', '270', '246', '214', '205']

In [554]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]
table

                Name Country Rating
0       Ellyse Perry     AUS    374
1    Hayley Matthews      WI    373
2     Natalie Sciver     ENG    371
3     Marizanne Kapp      SA    349
4        Amelia Kerr      NZ    336
5      Deepti Sharma     IND    322
6   Ashleigh Gardner     AUS    270
7      Jess Jonassen     AUS    246
8     Jhulan Goswami     IND    214
9  Sophie Ecclestone     ENG    205

In [555]:
table.to_csv('D:\sandip\womenAllroder.csv')

In [564]:
print(table)

                Name Country Rating
0       Ellyse Perry     AUS    374
1    Hayley Matthews      WI    373
2     Natalie Sciver     ENG    371
3     Marizanne Kapp      SA    349
4        Amelia Kerr      NZ    336
5      Deepti Sharma     IND    322
6   Ashleigh Gardner     AUS    270
7      Jess Jonassen     AUS    246
8     Jhulan Goswami     IND    214
9  Sophie Ecclestone     ENG    205

In [565]:
print(ODI_Ranking)

        Country Matches Points Rating
0     Australia      18  3,061    170
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

In [566]:
print(PLayer_Ranking)

                  Name Country Rating
0         Alyssa Healy     AUS    785
1          Beth Mooney     AUS    749
2      Laura Wolvaardt      SA    732
3       Natalie Sciver     ENG    731
4     Harmanpreet Kaur     IND    716
5      Smriti Mandhana     IND    714
6          Meg Lanning     AUS    710
7       Rachael Haynes     AUS    701
8  Chamari Athapaththu      SL    655
9         Ellyse Perry     AUS    642