In [78]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [79]:
driver=webdriver.Chrome(r'C:\Users\admin\Downloads\chromedriver_win32\chromedriver.exe')

In [80]:
driver.get('https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_2_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_2_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=c384562a-6534-43a9-8f2c-b9a1211012aa&as-backfill=on')

In [82]:
search = driver.find_element(By.XPATH,"//input[@class='_3704LK']")
search.send_keys("sneakers")
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

In [83]:
a=1
url=[]
for i  in range(1,10):
    no='https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_2_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_2_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=c384562a-6534-43a9-8f2c-b9a1211012aa&as-backfill=on9'+str(a)
    a=a+1
    url.append(no)

In [84]:
Brand=[]
Product_Description=[]
Price=[]

In [85]:
for i in url:
    driver.get(i)
    
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    
    for j in brand:
        a=j.text
        Brand.append(a)
Brand[0:5]

['GVR', 'SFR', 'World Wear Footwear', 'HRX by Hrithik Roshan', 'aadi']

In [86]:
for i in url:
    driver.get(i)
    
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    
    for j in product:
        Product_Description.append(j.text)
Product_Description[0:5]

['CLASSIC CT SNEAKER Sneakers For Men',
 '2006 Trenddy Fashion Sporty Casuals Sneakers Running Sh...',
 '5011-Latest Collection Stylish & Trendy Casual Sneakers...',
 'ACTIVE RUN Sneakers For Men',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...']

In [87]:
for i in url:
    driver.get(i)
    
    rats=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    for i in rats:
        Price.append(i.text)
Price[0:5]

['₹749', '₹399', '₹199', '₹1,047', '₹434']

In [88]:
df=pd.DataFrame({})
df['Brand']=Brand[0:100]
df['Product_Description']=Product_Description[0:100]
df['Price']=Price[0:100]
df

,Brand,Product_Description,Price
0,GVR,CLASSIC CT SNEAKER Sneakers For Men,₹749
1,SFR,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹399
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹199
3,HRX by Hrithik Roshan,ACTIVE RUN Sneakers For Men,"₹1,047"
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434
...,...,...,...
95,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹591
96,RED TAPE,Sneakers For Men,"₹1,319"
97,Asian Shoes,Future-04 casual shoes for men | Latest Stylis...,₹449
98,SFR,Sneakers For Men,₹399
99,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹606