In [29]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [72]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [73]:
driver=webdriver.Chrome(r"‪C:\Users\admin\Downloads\chromedriver_win32\chromedriver.exe")

In [32]:
driver.get('https://www.naukri.com/')

In [33]:
# enter designation and location  as required in the Question:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [34]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [35]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [59]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [67]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scarping the Location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text)
    
exp=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    experience_required.append(i.text)

In [68]:
df=pd.DataFrame({})
df['job_title']=job_title[0:10]
df['job_location']=job_location[0:10]
df['company']=company_name[0:10]
df['Experience_Required']=experience_required[0:10]

In [71]:
df

,job_title,job_location,company,Experience_Required
0,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
2,Data Analyst / Sr. Data Analyst / Lead,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Client Of Logical Hiring,3-12 Yrs
3,Data Analyst,Bangalore/Bengaluru,CPA Global,5-10 Yrs
4,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
5,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
6,Junior Data Analyst,Bangalore/Bengaluru,RCPC,0-1 Yrs
7,senior data managment analyst,Bangalore/Bengaluru,Wells Fargo,7-9 Yrs
8,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-4 Yrs
9,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs

In [70]:
experience_required

['3-5 Yrs',
 '0-5 Yrs',
 '3-12 Yrs',
 '5-10 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '0-1 Yrs',
 '7-9 Yrs',
 '1-4 Yrs',
 '5-6 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '3-12 Yrs',
 '5-10 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '0-1 Yrs',
 '7-9 Yrs',
 '1-4 Yrs',
 '5-6 Yrs']