In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome(r"‪C:\Users\admin\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\admin\AppData\Local\Temp\ipykernel_13220\4096338390.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"‪C:\Users\admin\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
job_title=[]
job_location=[]
company_name=[]
Experience_required=[]

In [7]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scarping the Location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text)
    
exp=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    Experience_required.append(i.text)
    
Salary=[]
sal=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in sal[0:10]:
    Salary.append(i.text)

In [8]:
df=pd.DataFrame({})
df['job_title']=job_title
df['job_location']=job_location
df['company']=company_name
df['Experience_required']=Experience_required
df['Salary']=Salary

In [9]:
print(len(job_title),len(job_location),len(Experience_required),len(company_name))

10 10 10 10

In [10]:
df

,job_title,job_location,company,Experience_required,Salary
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs,Not disclosed
1,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs,"5,00,000 - 15,00,000 PA."
2,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs,Not disclosed
3,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs,"5,00,000 - 10,00,000 PA."
4,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs,Not disclosed
5,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs,Not disclosed
6,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs,"2,00,000 - 7,00,000 PA."
7,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs,Not disclosed
8,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs,"4,00,000 - 9,00,000 PA."
9,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs,Not disclosed

['13,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '22,50,000 - 25,00,000 PA.',
 '22,50,000 - 25,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']