In [55]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from Selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [56]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

# now we will download to webdriver

In [57]:
#first connect driver 
driver=webdriver.Chrome(r"â€ªC:\Users\admin\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
# opening the naukari page on automated chrome browser
driver.get('https://www.naukri.com/')

In [59]:
# enter designation and location  as required in the Question:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [60]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [61]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [62]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [63]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scarping the Location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text)
    
exp=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    experience_required.append(i.text)

In [64]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [65]:
import pandas as pd

In [66]:
df=pd.DataFrame({})
df['Job_Title']=job_title
df['Job_Location']=job_location
df['Company_Name']=company_name
df['Experience_Required']=experience_required

In [67]:
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-4 Yrs
1,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs
2,Senior Data Analyst - DC,Bangalore/Bengaluru,Boston Consulting Group,4-6 Yrs
3,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Croma - Data Analyst - Mumbai / Bangalore,"Hybrid - Bangalore/Bengaluru, Mumbai",Croma,4-9 Yrs
5,Data Analyst- PYTHON+SCALA,Bangalore/Bengaluru,Capco,3-7 Yrs
6,Data Analyst-Pyspark,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Capco,7-12 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Capco,6-11 Yrs
8,Translation - Data Analyst,Bangalore/Bengaluru,Avery Dennison,3-6 Yrs
9,Sr. Data Analyst,"Bangalore/Bengaluru, Chennai",Bizanalytica Solution Llp,4-9 Yrs

In [68]:
df.to_csv('D:\sandip\DataAnalytical.csv')

In [69]:
url=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

In [71]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-customer-data-analyst-oracle-bangalore-bengaluru-1-to-4-years-060922009927
https://www.naukri.com/job-listings-business-data-analysts-people-culture-zscaler-inc-bangalore-bengaluru-5-to-6-years-130123501409
https://www.naukri.com/job-listings-senior-data-analyst-dc-boston-consulting-group-bangalore-bengaluru-4-to-6-years-030123500731
https://www.naukri.com/job-listings-manager-senior-manager-data-analyst-huquo-consulting-pvt-ltd-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-ahmedabad-jaipur-delhi-ncr-bangalore-bengaluru-2-to-7-years-120123913028

In [81]:
job_titles=[]
start=0
end=2
for i in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(3)

In [82]:
len(job_titles)

40

In [83]:
job_titles

['Job Opportunity with Leading MNC - Senior Data Analyst',
 'Healthcare Research and Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Sr / Lead Data Management Analyst, Data Engineer ( Bangalore) - LWS',
 'Data Analyst',
 'Data Analyst II',
 'Data Analyst',
 'GIS Data Analyst',
 'Lead - Data Analyst (Big Data, PySpark)',
 'Associate CSR/ESG Data Analyst',
 'Lead Data Analyst',
 'Financial Data Analyst / Financial Analyst',
 'Data Analyst (2-4 years)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (T-SQL & SSIS)',
 'Hiring For Senior Business Analyst (Big data & SQL) || Coforge - NIIT',
 'Senior Data Analyst - KPO',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst/Sr Data Analyst',
 'Sr Data Analyst-3',
 'Senior Data Analyst',
 'Senior Data Analyst (SQL & Python)',
 'Senior Data Analyst',
 'Senior Data Analyst | Lululemon',
 'Data Management Analyst',
 'Data and Research Analyst',
 'Senior Data Management Analyst',
 'Senior Data Management Analyst',
 'Manager - Data Analyst',
 'Assistant Manager/Lead Assistant Manager/Manager - Data Analyst',
 'Assistant Manager / Lead / Manager - Data Analyst - KPO',
 'Data Analyst',
 'Data Analyst - Python/Power BI',
 'Data Analyst',
 'Item Data Analyst',
 'Data Analyst']